In [1]:
# We are going to use gmaps to create a heatmap with the information that is in the csv file we created in WeatherPy
# file.  This, cities.csv is a table w/ Lat, Lng, MaxTemp,Humidity,Cloudiness,WindSpeed information for specific cities.
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the cities.csv file you created in WeatherPy file into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2021-09-07 19:31:26,71.2906,-156.7887,39.22,87,90,17.27
1,1,Mar Del Plata,AR,2021-09-07 19:27:42,-38.0023,-57.5575,53.62,94,75,20.71
2,2,Hasaki,JP,2021-09-07 19:31:26,35.7333,140.8333,61.20,62,100,5.48
3,3,Nurota,UZ,2021-09-07 19:31:26,40.5614,65.6886,75.29,19,0,7.40
4,4,Vila Velha,BR,2021-09-07 19:31:27,-20.3297,-40.2925,75.15,83,75,10.36

In [3]:
# confirm that numerical columns are float or integer data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#tell gmaps to use your API key. You only need to configure gmaps to use your API key once.
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Create the heatmap for the maximum temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]  # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [7]:
# The map is too big, we need to adjust it
# add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E)
# Also, add a zoom level so that only one map of Earth is shown.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# adjusting heat layer
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(0,temp) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudines
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Get Vacation criteria
# we need to prompt the user to enter the minimum and maximum temperature ranges as floating-point decimal 
# numbers to filter the city_data_df DataFrame.
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
#Next, Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Nurota,UZ,2021-09-07 19:31:26,40.5614,65.6886,75.29,19,0,7.40
4,4,Vila Velha,BR,2021-09-07 19:31:27,-20.3297,-40.2925,75.15,83,75,10.36
10,10,Hilo,US,2021-09-07 19:28:53,19.7297,-155.0900,82.27,73,1,5.75
14,14,Bardiyah,LY,2021-09-07 19:31:29,31.7561,25.0865,78.19,72,2,14.09
17,17,Palmer,US,2021-09-07 19:31:30,42.1584,-72.3287,80.15,50,40,1.01
25,25,Albany,US,2021-09-07 19:31:16,42.6001,-73.9662,78.15,56,9,4.94
30,30,Puerto Ayora,EC,2021-09-07 19:31:33,-0.7393,-90.3518,80.56,79,57,8.01
32,32,Castro,BR,2021-09-07 19:28:13,-24.7911,-50.0119,80.35,41,79,7.40
33,33,Garmsar,IR,2021-09-07 19:31:34,35.2182,52.3409,80.08,41,0,10.87
40,40,Eureka,US,2021-09-07 19:31:25,40.8021,-124.1637,86.67,64,57,6.33

In [17]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [18]:
# Get travel destination. Let's create a new dataframe based on preferred_cities datframe that store also hotel names
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3         Nurota      UZ     75.29  40.5614   65.6886
4     Vila Velha      BR     75.15 -20.3297  -40.2925
10          Hilo      US     82.27  19.7297 -155.0900
14      Bardiyah      LY     78.19  31.7561   25.0865
17        Palmer      US     80.15  42.1584  -72.3287
25        Albany      US     78.15  42.6001  -73.9662
30  Puerto Ayora      EC     80.56  -0.7393  -90.3518
32        Castro      BR     80.35 -24.7911  -50.0119
33       Garmsar      IR     80.08  35.2182   52.3409
40        Eureka      US     86.67  40.8021 -124.1637

In [21]:
# Using the latitude and longitude and specific parameters, we use the Google Places Nearby Search request to retrieve
# a hotel and add it to the Hotel Name column.
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging","key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name. When we go through an API request, we need to handle
    # indexErrors using try, except
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Nurota,UZ,75.29,40.5614,65.6886,Guest House Ruslan Nurata & Tours
4,Vila Velha,BR,75.15,-20.3297,-40.2925,Quality Suites Vila Velha
10,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Bardiyah,LY,78.19,31.7561,25.0865,بورتو بردية
17,Palmer,US,80.15,42.1584,-72.3287,Wedgewood Motel
25,Albany,US,78.15,42.6001,-73.9662,
30,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
32,Castro,BR,80.35,-24.7911,-50.0119,CHACARA BAILLY
33,Garmsar,IR,80.08,35.2182,52.3409,آذین فوم
40,Eureka,US,86.67,40.8021,-124.1637,Eureka Inn Trademark By Wyndham

In [23]:
# Our final task will be to add pop-up markers with hotel information to a heatmap
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
# from gmaps documentation: the syntax is 
# markers = gmaps.marker_layer(marker_locations), where the marker_locations are latitudes and longitudes.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
# from the gmaps documentation, info_box_template is as a html code
info_box_template = """
<dl> 
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))